<footer id="footer_background">
    <div class="footer" style="background-color:#561313;">
        <div class="container">
            <div class="row">
                <div class="footer-widgets">
                    <div class="col-md-4">
                        <div class="widget widget-about">
                            <div class="widget-text">
                                <div id="logo-ft">
                                    <a href="#" title="">
                                        <img style="width: 25%;" src="wp-content/uploads/2020/09/profitcoin.png" alt="">
                                    </a>
                                </div>
                                <p>We create the future. This is how we would define the main activity of the company. Cryptocurrency - in particular Bitcoin - is the future of the global financial market. And now we are engaged in the trading of
                                    one of the most valuable resources, which allows us to get maximum profits today. Exchange trade in cryptocurrency is a way of converting opportunities into real money. We invite everyone to join us on the road
                                    to success and financial independence.
                                </p>
                            </div>

                        </div>
                        <!-- /.widget-about -->
                    </div>
                    <!-- /.col-md-4 -->

                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="widget widget_contact">
                            <h3 class="widget-title">CONTACT</h3>
                            <ul class="contact-list">
                                <li>
                                    Address: <span>Daintree House, Welton Le Wold, Lincolnshire, England, LN11 0QT</span>
                                </li>
                                <li>
                                    Email: <span>helpdesk@pjtradersdex-support.com</span>
                                </li>
                            </ul>
                            
                        </div>
                        <!-- /.widget_contact -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.footer-widgets -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer -->
    <div class="footer-bottom" style="color: black;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="menu-ft-bottom">
                        <li style="color: black;">
                            <a href="index" title="" style="color: black;">Home</a>
                        </li>
                        <li>
                            <a href="about" title="" style="color: black;">About</a>
                        </li>
                        <li>
                            <a href="faq" title="" style="color: black;">FAQs</a>
                        </li>
                        <li>
                            <a href="terms-and-conditions" title="" style="color: black;">Terms and conditions</a>
                        </li>
                        
                        <li>
                            <a href="contactUs" title="" style="color: black;">Contact</a>
                        </li>
                    </ul>
                    <div class="copyright">
                        <p>© Copyright HHG Capital Limited 2015</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-bottom -->
</footer>
<!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->