<div class="themesflat-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="flat-infomation">
                    <li class="email"><a href="mailto:themesflat@gmail.com" title="email">Email: helpdesk@pjtradersdex-support.com</a></li> 
                </ul>
                <!-- /.flat-infomation -->
                <ul class="box-account">
                    <li class="login">
                        <a href="editAccount" title="">Edit account</a>
                    </li>
                    <li class="sign-in">
                        <a href="logout" title="">Logout</a>
                    </li>
                </ul>
                <!-- /.box-account -->
                <div class="clearfix"></div>
                <!-- /.clearfix -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.themesflat-top -->

<header id="header" class="header bg-color" style="background-color: #561313;">
    <div class="container">
        <div class="row">
            <div class="header-wrap">
                <div id="logo" class="logo" style="max-width: 80px; margin-bottom: 20px;">
                    <a href="index" title="">
                        <img src="wp-content/uploads/2020/09/profitcoin.png" alt="HHG Capital" />
                    </a>
                </div>
                <!-- /#logo -->

                <div class="nav-wrap">
                    <div class="btn-menu">
                        <span></span>
                    </div>
                    <!-- //mobile menu button -->
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li class="active">
                                <a href="dashboard" title="">DASHBOARD</a>
                            </li>
                            <li>
                                <a href="deposit" title="">DEPOSITS</a>
                            </li>
                            <li>
                                <a href="invest" title="">INVESTMENT PLANS</a>
                            </li>
                            <li>
                                <a href="withdrawals" title="">WITHDRAWALS</a>
                            </li>
                            <li><a href="referral" title="">REFERRALS</a></li>

                            
                        </ul>
                        <!-- /.menu -->
                    </nav>
                    <!-- /#mainnav -->
                </div>
                <!-- /.nav-wrap -->
            </div>
            <!-- /.header-wrap -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>
<!-- /#header -->