<div class="themesflat-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="flat-infomation">
                    <li class="email"><a href="mailto:themesflat@gmail.com" title="email">Email: helpdesk@bitcoinx-tradersupport.com</a></li>
                </ul>
                <!-- /.flat-infomation -->
                <ul class="box-account">
                    <li class="login">
                        <a href="login" title="">Login</a>
                    </li>
                    <li class="sign-in">
                        <a href="sign-up" title="">Signup</a>
                    </li>
                </ul>
                <!-- /.box-account -->
                <div class="clearfix"></div>
                <!-- /.clearfix -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.themesflat-top -->

<header id="header" class="header bg-color">
    <div class="container">
        <div class="row">
            <div class="header-wrap">
                <div id="logo" class="logo" style="max-width: 80px; margin-bottom: 20px;">
                    <a href="index" title="">
                        <img src="wp-content/uploads/2020/09/profitcoin.png" alt="Capital Returns" />
                    </a>
                </div>
                <!-- /#logo -->

                <div class="nav-wrap">
                    <div class="btn-menu">
                        <span></span>
                    </div>
                    <!-- //mobile menu button -->
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li class="active">
                                <a href="index" title="">HOME</a>
                            </li>
                            <li>
                                <a href="about" title="">ABOUT</a>
                            </li>
                            <li>
                                <a href="faq" title="">FAQs</a>
                            </li>
                            <li><a href="terms-and-conditions" title="">Terms and conditions</a></li>

                            <li><a href="affiliate" title="">AFFILIATES</a></li>
                            <li>
                                <a href="contactUs" title="">CONTACT</a>
                            </li>
                        </ul>
                        <!-- /.menu -->
                    </nav>
                    <!-- /#mainnav -->
                </div>
                <!-- /.nav-wrap -->
            </div>
            <!-- /.header-wrap -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>
<!-- /#header -->