<!DOCTYPE html>
<html lang="en">
    

<!-- Mirrored from HHG Capital.com/?a=cust&page=about-us by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:38 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=1150; user-scalable=1;" />
        <title>HHG Capital</title>
<link rel="icon" type="image/png" href="logo.png">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
        <link rel="stylesheet" href="assets/css/jquery.fullPage.css">


<!-- Smartsupp Live Chat script -->
  

 
  
  
        
 

    </head>
    <body>
      
        
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <header id="header" class="fixed transparent">
                <nav class="navbar navbar-default white">
                    <!--  Header Logo  -->
                    <div id="logo">
                        <a class="navbar-brand" href="index?a=home">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                            <img src="logo.png" class="normal white-logo" alt="logo">
                            <img src="logo.png" class="retina white-logo" alt="logo">
                        </a>
                    </div>
                    <!--  END Header Logo  -->
                    <!--  Classic menu, responsive menu classic  -->
                    <div id="menu-classic">
                        <div class="menu-holder">
                            <ul>
                                <li class="submenu"><a href="index" class="active-item">Home</a></li>
                                <li class="submenu"><a href="about-us">About</a></li>
                               
                                <li class="submenu"><a href="terms-and-conditions">Terms</a></li>
                                <li class="submenu"><a href="contact-us">Contact Us</a></li>
                                                                <li class="submenu"><a href="login">Login</a></li>
                                <li class="submenu"><a href="sign-up">Register</a></li>
                                                                   <!-- Lang -->
                                
                            </ul>
                        </div>
                    </div>
                    <!--  END Classic menu, responsive menu classic  -->
                    <!--  Button for Responsive Menu Classic  -->
                    <div id="menu-responsive-classic">
                        <div class="menu-button">
                             <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                        </div>
                    </div>
                    <!--  END Button for Responsive Menu Classic  -->
                </nav>
            </header>
            <!--  END Header & Menu  -->

<!--  Page Content, class footer-fixed if footer is fixed  -->
            <div id="page-content" class="header-static footer-fixed">
                <!--  Slider  -->
                <div id="flexslider" class="fullpage-wrap small">
                    <ul class="slides">
                        <li style="background-image:url(assets/img/service1.jpg)">
                            <div class="text text-center">
                                <h1 class="white margin-bottom-small">About Us</h1>
                                <p class="heading white">HHG Capital is a platform that makes mining very efficient, productive, and accessible for everyone. It gives large opportunities with highly programmable data centers that enable mining operations more effective for investors. Our world-leading cryptocurrency analysts, investors, and forecasters disperse your investment intelligently across the globe and generate the best profit.</p>
                            </div>
                            <div class="gradient dark"></div>
                        </li>
                    </ul>
                </div>
                <!--  END Slider  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="row margin-leftright-null text-center">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="text">
                                <h2 class="margin-bottom-null title center grey">Our Mission</h2>
                                <div class="padding-onlytop-md">
                                    <h3 class="grey big margin-bottom-small">We are working towards a mission of offering an environmentally sustainable business model to achieve profit periodically. We have partnered with some of the biggest and most reputed mining firms to most source cloud mining at the best value.</h3>
                                    <p class="heading center margin-bottom grey">HHG Capital is engaged with leading Bitcoin mining and cryptocurrency trading. It does no doubt that the market of Bitcoin is incredibly increasing, So we offer our customers different and suitable investment plans tailored to meet the needs of both small and big investors. We ensure maximal profit to each of our investors and keep possible risks by effective ways to their investments at the lowest levels. We pour all our efforts to secure the deposit of investments upon achieving maximum business profitability.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Services -->
                    <div class="row no-margin">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="row no-margin">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="icon ion-ios-pulse service material left"></i>
                                        <div class="service-content">
                                            <h6 class="heading  margin-bottom-extrasmall">Expert Management</h6>
                                            <p class="margin-bottom-null">HHG Capital consist of people that are experts and with many years experience in their field of work. you have nothing to worry about.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="icon ion-ios-cloud-outline service material left"></i>
                                        <div class="service-content">
                                            <h6 class="heading grey margin-bottom-extrasmall">Secure Investment</h6>
                                            <p class="margin-bottom-null">Your investment and our Trading software is secure with a three way system, and guarantee a safer way of investing your funds with us.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text">
                                        <i class="icon ion-ios-analytics-outline service material left"></i>
                                        <div class="service-content">
                                            <h6 class="heading  margin-bottom-extrasmall">High Income</h6>
                                            <p class="margin-bottom-null">With stable profits daily or weekly, you will get a high and enjoyable income just by sitting in your home and earning everyday from HHG Capital</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-md-topbottom-null">
                                        <i class="icon ion-ios-chatboxes-outline service material left"></i>
                                        <div class="service-content">
                                            <h6 class="heading  margin-bottom-extrasmall">Licenced Entity</h6>
                                            <p class="margin-bottom-null">We are a registered financial management company in UK. We are based in UK but invite clients from all over the world to be a part of us.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-md-bottom-null">
                                        <i class="icon ion-ios-pie-outline service material left"></i>
                                        <div class="service-content">
                                            <h6 class="heading grey margin-bottom-extrasmall">DDoS Security</h6>
                                            <p class="margin-bottom-null">Data security is everything in financial markets. We offer complete DDOS protection. The privacy of your financial data is primary to us.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text">
                                        <i class="icon ion-ios-cart-outline service material left"></i>
                                        <div class="service-content">
                                            <h6 class="heading  margin-bottom-extrasmall">Live Customer Support</h6>
                                            <p class="margin-bottom-null">Our customer chat support is live 24/7/365 feel free to always chat with us and we can answer your questions approprietely</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Services --> 
                    <!-- Section Image background with overlay -->                    
                    <div class="row margin-leftright-null grey-background">
                        <div class="bg-img overlay simple-parallax responsive" style="background-image:url(assets/img/service4.jpg)">
                            <!-- Testimonials -->
                            <section class="testimonials-carousel-simple col-md-12 text padding-bottom-null">
                                <div class="item padding-leftright-null">
                                    <div class="text padding-top-null padding-bottom-null">
                                        <blockquote class="margin-bottom-small white">I am very grateful to HHG Capital, I can earn a steady profit every day, I can get payment instantly, I can use it to pay for my doctoral tuition.....</blockquote>
                                        <em class="small grey-light">Clients</em><span class="margin-null white"> Hamilton</span>
                                    </div>
                                </div>
                                <div class="item padding-leftright-null">
                                    <div class="text padding-top-null padding-bottom-null">
                                        <blockquote class="margin-bottom-small white">HHG Capital team is very professional, I have started to recommend to family, friends, and build my own team, get passive income.</blockquote>
                                        <em class="small grey-light">Clients</em><span class="margin-null white"> Alex Poe</span>
                                    </div>
                                </div>
                            </section>
                            <!-- END Testimonials -->
                        </div>
                    </div>
                    <!-- END Section Image background with overlay -->     
                   
                   
                </div>
            </div>
            <!--  END Page Content, class footer-fixed if footer is fixed  -->
            <div id="page-content" class="header-static footer-fixed">
                <!--  Slider  -->
                <div id="flexslider" class="fullpage-wrap small">
                    <ul class="slides">
                        <li style="background-image:url(assets/img/service7.jpg)">
                            <div class="text text-center">
                                <h1 class="white margin-bottom-small">Frequently Asked Questions</h1>
                            </div>
                            <div class="gradient dark"></div>
                        </li>
                    </ul>
                </div>
                <!--  END Slider  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="row margin-leftright-null text-center">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="text">
                                <h2 class="margin-bottom-null title center grey">Frequently Asked Questions</h2>
                                <div class="padding-onlytop-md">
                                    <h3 class="grey big margin-bottom-small">FAQ's</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Services -->
                    <div class="row no-margin">
                        <div class="col-md-12 services-box">
                            <div class="col-md-12">
                                <div class="alt-services text-center">
                                    <div class="service">
                                        
                                        <p align=justify> 
                                        
<b><i class="fa fa-angle-double-right" aria-hidden="true"></i> What is  HHG Capital ?</b><br>
  <small>HHG Capital is an Assets Management platform where you can mine and earn profits.  we run a platform that makes mining very efficient, productive, and accessible for everyone. It gives large opportunities with highly programmable data centers that enable mining operations more effective for investors</small> <br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> What i need to become a miner?</b><br>
  <small>To become a miner of this Company you need to open <a href="https://hhg-capital.onrender.com/sign-up" target="_blank" style="color:#029ad5">an account</a>. Registering is completely free and will take only a few minutes. After this you can officially become a member and will be able to execute your mining by purchasing a plan. Please note that by agreeing to the Terms and Conditions of Use during the registration you automatically confirm that you are of legal age in your country of residence and that by using our platform you don`t violate any laws of your country of residence.</small><br>
  <br>

  <br>
  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Is this registered company?</b><br>
  <small>
      Yes. HHG Capital is a legal mining company incorporated and headquartered in United Kingdom.
  </small><br>
  <br>
  
  
  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How do I open my HHG Capital Account?</b><br>
  <small>It's quite easy and convenient. Follow this <a href="https://hhg-capital.onrender.com/sign-up" style="color:#029ad5;">link</a>, fill in the registration form and then press "Register". </small><br>
  <br>
  
  

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Which e-currencies do you accept?</b><br>
  <small>Currently we accept Ethereum & Bitcoin . If new payment methods are added , it will be announced via news & email. e-currencies.</small> <br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How can I withdraw funds?</b><br>
  <small>Login to your account using your username and password and check the Withdraw section.</small><br>
  <br>
  

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Are there any fees when making deposits or withdrawals?</b><br>
  <small>Our system does not charge any fees on deposits and withdrawals. The only fees you can get depend on your wallet or payment system. In order to send Bitcoin you must pay a Blockchain network fee, also some exchanges and exchange offices charge different fees.</small><br>
  <br>
 

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How long does it take for my deposit to be added to my account?</b><br>
  <small>Your account will be updated as fast, as you deposit.Funds will be deposited immediately. But if you are using Bitcoin, the accrual may take some time as per rule, it takes from 3 to 6 Bitcoin network confirmations. </small><br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Does a daily profit paid directly to my currency account?</b><br>
  <small>No, profits are gathered on your HHG Capital  account and you can withdraw them anytime.
 </small><br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Can I make an additional deposit to HHG Capital account once it has 
  been opened?</b><br>
  <small>Yes, you can but all transactions are handled separately.</small> 
  <br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> May I open several accounts in your program?</b><br>
  <small>No. If we find that one member has more than one account, the entire funds will 
  be frozen. </small><br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> After I make a withdrawal request, when will the funds be available on my 
  ecurrency account?</b><br>
  <small>Funds are usually available within 12 business hours.</small><br>
  <br>

  <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How can I change my password?</b><br>
  <small>You can change your password directly from your members area by editing it in your personal profile.</small><br>
  <br>
  
    <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Can I lose money?</b><br>
  <small>There is a risk involved with mining. However, there are a few simple ways that can help you to reduce the risk of losing more than you can afford to. First, align your mining with your financial goals, in other words, keep the money you may need for the short-term out of more aggressive mining, reserving those mined funds for the money you intend to raise over the long-term. It's very important for you to know that we are real miners and that we mine members' funds.</small><br>
  <br>
  
   <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How can I check my account balances?</b><br>
  <small>You can access the account information 24 hours, seven days a week over the Internet.</small><br>
  <br>
  
  
    <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Do you have an affiliate program?</b><br>
  <small>You will get upto 5% referral commission if your down lines make a deposit.</small><br>
  <br>
  
  
   <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Can I receive a referral commission without making a deposit?</b><br>
  <small>Yes. You can get a referral commission without making a personal deposit.</small><br>
  <br>
  

  
    <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How many times can a user make deposits into their account?</b><br>
  <small>A user can make deposits in his or her account as and when they want. There is no limitation on the number of deposits that a user can make into their account.</small><br>
  <br>
  
     <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> How can I make a deposit?</b><br>
  <small>To make a spend you must first become a member of HHG Capital. Once you are signed up, you can make your first spend. All deposits must be made through the portfolio. You can login using the email and password you used during signup.</small><br>
  <br>
  
   <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Who manages the funds?</b><br>
  <small>These funds are managed by a team of HHG Capital mining experts.</small><br>
  <br>
</p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- END Services -->
                    
                    
                    <!-- Section partners -->
                    <div class="row padding-md margin-leftright-null color-background">
                        <div class="col-md-12 text-center">
                            <h4 class="big margin-bottom-small white">VIEW COMPANY INCOPORATION DETAILS</h4>
                            <a href="https://find-and-update.company-information.service.gov.uk/company/11666300"_blank" class="btn-alt small white margin-null active">CERTIFICATE</a>
                        </div>
                    </div>
                </div>
            </div>
 <!--  Footer. Class fixed for fixed footer  -->
            <footer class="fixed">
                    <div class="row margin-leftright-null">
                        <div class="col-md-12 clearfix color-background padding-leftright-null">
                            <div class="partners">
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e1.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e4.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e2.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e3.html" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-md margin-leftright-null dark-background">
                        <div class="col-md-12 text-center">
                            <h4 class="big margin-bottom-small white">VIEW COMPANY INCOPORATION DETAILS</h4>
                            <a href="https://find-and-update.company-information.service.gov.uk/company/11666300"_blank" class="btn-alt small white margin-null active">CERTIFICATE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END Page Content, class footer-fixed if footer is fixed  -->
            
            <!--  Footer. Class fixed for fixed footer  -->
            <footer class="fixed">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                        </div>
                        <p class="grey-light">HHG Capital is a private trading/mining company incorporated in the united kingdom.The main business involves cryptocurrency mining and intelligent automated trading, bringing stable and efficient revenue to our global customers.</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Company</h6>
                        <ul class="info">
                            <li><a href="index">Home</a></li>
                            <li><a href="about-us">About</a></li>
                            </ul>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Customer</h6>
                        <ul class="info">
                            <li><a href="terms-and-conditions">Terms</a></li>
                            <li><a href="contact-us">Contact Us</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="sign-up">Register</a></li>
                                                    </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="heading white margin-bottom-extrasmall">Contact Us</h6>
                        <ul class="info">
                            
                            <li>Mail: <a href="mailto:support@hhg-capital.com">support@hhg-capital.com</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="copy col-md-12 padding-leftright-null">
                    &copy; 2012 HHG Capital -  All Rights Reserved
                    <a href="#main-wrap" class="anchor" id="backtotop">Back to top</a>
                </div>
            </footer>
            <!--  END Footer. Class fixed for fixed footer  -->
        </div>
        <!--  Main Wrap  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/jquery.fullPage.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
  

<!-- Mirrored from HHG Capital.com/?a=cust&page=about-us by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:38 GMT -->
</html>