<!DOCTYPE html>
<html lang="en">
    

<!-- Mirrored from hhg-capital.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:04 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=1150; user-scalable=1;" />
        <title>Home</title>
<link rel="icon" type="image/png" href="logo.png">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
        <link rel="stylesheet" href="assets/css/jquery.fullPage.css">


<!-- Smartsupp Live Chat script -->
  

 
  
  
        
 

    </head>
    <body>
      
        
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <header id="header" class="fixed transparent">
                <nav class="navbar navbar-default white">
                    <!--  Header Logo  -->
                    <div id="logo">
                        <a class="navbar-brand" href="index?a=home">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                            <img src="logo.png" class="normal white-logo" alt="logo">
                            <img src="logo.png" class="retina white-logo" alt="logo">
                        </a>
                    </div>
                    <!--  END Header Logo  -->
                    <!--  Classic menu, responsive menu classic  -->
                    <div id="menu-classic">
                        <div class="menu-holder">
                             <ul>
                                <li class="submenu"><a href="index" class="active-item">Home</a></li>
                                <li class="submenu"><a href="about-us">About</a></li>
                               
                                <li class="submenu"><a href="terms-and-conditions">Terms</a></li>
                                <li class="submenu"><a href="contact-us">Contact Us</a></li>
                                                                <li class="submenu"><a href="login">Login</a></li>
                                <li class="submenu"><a href="sign-up">Register</a></li>
                                                                   <!-- Lang -->
                                
                            </ul>
                        </div>
                    </div>
                    <!--  END Classic menu, responsive menu classic  -->
                    <!--  Button for Responsive Menu Classic  -->
                    <div id="menu-responsive-classic">
                        <div class="menu-button">
                            <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                        </div>
                    </div>
                    <!--  END Button for Responsive Menu Classic  -->
                </nav>
            </header>
            <!--  END Header & Menu  -->
            
            <!--  Page Content, class footer-fixed if footer is fixed  -->
            <div id="page-content" class="header-static footer-fixed">
                <!--  Slider  -->
                <div id="flexslider-nav" class="fullpage-wrap small">
                    <ul class="slides">
                        <li style="background-image:url(assets/img/company1.jpg)">
                            <div class="text">
                                <h1 class="white flex-animation">HHG Capital<br> </h1>
                                <h2 class="white flex-animation">An easy way to mine cryptocurrency</h2>
                                <a href="https://hhg-capital.onrender.com/sign-up" class="shadow btn-alt small activetwo margin-bottom-null flex-animation">Register</a>
                            </div>
                            <div class="gradient dark"></div>
                        </li>
                        <li style="background-image:url(assets/img/company11.jpg)">
                            <div class="text">
                                <h1 class="white flex-animation no-opacity">Flexible and<br> very easy to use</h1>
                                <h2 class="white flex-animation no-opacity"><br></h2>
                                <a href="login.html?a=login" class="shadow btn-alt small activetwo margin-bottom-null flex-animation no-opacity">Login</a>
                            </div>
                            <div class="gradient dark"></div>
                        </li>
                    </ul>
                    <div class="slider-navigation">
                        <a href="#" class="flex-prev"><i class="material-icons">keyboard_arrow_left</i></a>
                        <div class="slider-controls-container"></div>
                        <a href="#" class="flex-next"><i class="material-icons">keyboard_arrow_right</i></a>
                    </div>
                </div>
                <!--  END Slider  -->
                
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <!-- Services -->
                    <div class="row no-margin">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text text-center padding-bottom-null">
                                    <h2 class="margin-bottom-null title">WE PROVIDE THE BEST CRYPTO BACKED ASSET MANAGEMENT OPTIONS</h2>
                                </div>
                            </div>
                            <div class="col-md-12 padding-leftright-null text-center">
                                <div class="text padding-md-bottom-null">
                                    <h3 class="grey big margin-bottom-small">Start earning in three simple steps</h3>
                                    <p class="heading margin-bottom-null"></p>
                                </div>
                            </div>
                           <div class="col-md-12 padding-leftright-null">
                                <div class="col-sm-12 col-md-4 padding-leftright-null">
                                    <div class="text text-center padding-md-bottom-null">
                                        <i class="icon ion-ios-monitor service color"></i>
                                        <h4 class="medium dark">Sign up and fund your account</h4>
                                        <p class="margin-md-bottom-null">Set up your account within few seconds to start earning with us.</p>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 padding-leftright-null">
                                    <div class="text text-center padding-md-bottom-null">
                                        <i class="icon ion-ios-world service color"></i>
                                        <h4 class="medium dark">Purchase a Plan</h4>
                                        <p class="margin-md-bottom-null">Simply choose your mode of payment and purchase a plan based on your budgets.</p>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 padding-leftright-null">
                                    <div class="text text-center">
                                        <i class="icon ion-ios-cloud-upload service color"></i>
                                        <h6 class="medium dark">Get Daily returns</h6>
                                        <p class="margin-md-bottom-null">Daily returns of both profit and capital included will be remitted directly to your wallet instantly upon withdrawal.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row margin-leftright-null">
                        <div class="col-md-12 clearfix color-background padding-leftright-null">
                            <div class="partners">
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e1.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e4.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e2.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e3.html" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      <!-- END Services -->
                    <!-- Section same Height. Child get the parent Height. Set the same id -->
                    <div class="row margin-leftright-null grey-background">
                        <div class="col-md-6 padding-leftright-null">
                            <div data-responsive="parent-height" data-responsive-id="mission" class="text">
                                <h2 class="margin-bottom-null title left">Our mission</h2>
                                <div class="padding-onlytop-md">
                                    
                                    <h1 class="heading left margin-bottom">We are working towards a mission of offering an environmentally sustainable business model to achieve profit periodically. We have partnered with some of the biggest and most reputed mining firms to most source cloud mining at the best value.</h1>
                                    <p>HHG Capital is engaged with leading Bitcoin mining and cryptocurrency trading. It does no doubt that the market of Bitcoin is incredibly increasing, So we offer our customers different and suitable investment plans tailored to meet the needs of both small and big investors. We ensure maximal profit to each of our investors and keep possible risks by effective ways to their investments at the lowest levels. We pour all our efforts to secure the deposit of investments upon achieving maximum business profitability.</p>
                                    <a href="about.html?a=cust&amp;page=about-us" class="btn-simple">About Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-leftright-null">
                             <div data-responsive="child-height" data-responsive-id="mission" class="bg-img" style="background-image: url(assets/img/company2.jpg)"></div>
                        </div>
                    </div>
                    <div style="height:62px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px; width: 100%;"><div style="height:40px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=light&amp;pref_coin_id=1505&amp;invert_hover=" width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div><div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;"><a href="https://coinlib.io/" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency Prices</a>&nbsp;by Coinlib</div></div>
                    <!--  Team  -->
                    <div id="team" class="text">
                        <div class="row">
                            <div class="col-md-12 padding-leftright-null text-center">
                                <h2 class="margin-bottom-null title">Our Team</h2>
                                <div class="padding-md">
                                    <p class="heading margin-bottom"></p>
                                </div>
                            </div>
                            <div class="col-md-4 single-person">
                                <img src="staff1.jpg" alt="">
                                <div class="content">
                                    <div class="description">
                                        <h6>Account manager</h6>
                                        <h5>Clive Mesidor</h5>
                                    </div>
                                    <
                                </div>
                            </div>
                            <div class="col-md-4 single-person">
                                <img src="staff2.png" alt="">
                                <div class="content">
                                    <div class="description">
                                        <h6>Director</h6>
                                        <h5>Charlotte Grieves</h5>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-4 single-person">
                                <img src="staff3.png" alt="">
                                <div class="content">
                                    <div class="description">
                                        <h6>Trade analyst</h6>
                                        <h5>Marco Luigi</h5>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  END Team  -->
                    <!--  Section with background image and overlay  -->
                    <div class="row margin-leftright-null">
                        <div class="bg-img overlay responsive" style="background-image:url(assets/img/service4.jpg)">
                            <!--  Counters  -->
                            <div class="col-md-12 padding-leftright-null">
                                <div class="text text-center">
                                    <div id="counters" class="row">
                                        <div class="col-sm-3">
                                            <div class="statistic">
                                                <i class="icon ion-ios-color-filter-outline service big white margin-bottom-null"></i>
                                                <span class="white" data-from="0" data-to="107">&nbsp;</span>
                                                <p class="heading grey-light">Mining Rigs setup</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="statistic">
                                                <i class="icon ion-ios-pie-outline service big white margin-bottom-null"></i>
                                                <span class="white" data-from="0" data-to="447095">&nbsp;</span>
                                                <p class="heading grey-light">Total Accounts Registered</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="statistic">
                                                <i class="icon ion-ios-bolt-outline service big white margin-bottom-null"></i>
                                               
                                         <h2 style="color:white">OVER $37M +</h2>
                                                <p class="heading grey-light">Assets in mananagement</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="statistic">
                                                <i class="icon ion-ios-pricetags-outline service big white margin-bottom-null"></i>
                                                <h2 style="color:white">$470M+</h2>
                                                <p class="heading grey-light">Total withdrawals made</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <!--  END Counters  -->
                        </div>
                    </div>
                    <!-- Pricing -->
                    <div class="row margin-leftright-null text-center grey-background">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="text">
                                <h2 class="margin-bottom-null title center grey">Our Plans</h2>
                                <div class="padding-onlytop-md">
                                    <h3 class="grey big margin-bottom-small">Mining Plans</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin grey-background">
                        <section id="pricing">
                            <div class="col-sm-4 price padding-leftright-null">
                                <div class="price-number">2.5%</div>
                                <div class="price-title">DAILY FOR 35 DAYS</div>
                                <ul class="style">
                                    <li> CLASSIC PLAN</li>
                                    <li>MIN/MAX $ ($500 - $4,999)</li>
                                    <li>Profit 2.5% Daily</li>
                                    <li>Withdraw Type Instant</li>
                                    <li>Principal Back on Maturity</li>
                                </ul>
                                                                <a href="https://hhg-capital.onrender.com/sign-up" class="btn-alt small active">Start Now</a>
                                                            </div>
                            <div class="col-sm-4 price active padding-leftright-null">
                                <div class="price-number">3.5%</div>
                                <div class="price-title">DAILY FOR 55 DAYS</div>
                                <ul class="style">
                                    <li> PREMIUM PLAN</li>
                                    <li>MIN/MAX $ ($5,000 - $49,999)</li>
                                    <li>Profit 3.5% Daily</li>
                                    <li>Withdraw Type Instant</li>
                                    <li>Principal Back on Maturity</li>
                                </ul>
                                                                <a href="https://hhg-capital.onrender.com/sign-up" class="btn-alt small active">Start Now</a>
                                                            </div>
                                <div class="col-sm-4 price padding-leftright-null">
                                <div class="price-number">5%</div>
                                <div class="price-title">DAILY FOR 70 DAYS</div>
                                <ul class="style">
                                    <li>REAL ESTATE PLAN</li>
                                    <li>MIN/MAX $ ($50,000 - $500,000)</li>
                                    <li>Profit 5% Daily</li>
                                    <li>Withdraw Type Instant</li>
                                    <li>Principal Back on Maturity</li>
                                </ul>
                                                                <a href="https://hhg-capital.onrender.com/sign-up" class="btn-alt small active">Start Now</a>
                                                            </div>
                            
                                                            
                        </section>
                    </div>
                  
                    <div class="col-md-12 ml-auto mr-auto text-center" style="overflow: hidden;">

                    <iframe src="https://www.widgets.investing.com/top-cryptocurrencies?theme=darkTheme&amp;roundedCorners=true" allowtransparency="true" marginwidth="0" marginheight="0" width="1070" height="575" frameborder="0" style="margin-top: -50px;"></iframe>

                  </div>
                    
                    <!--  Latest News  -->
                    
                    <div class="row margin-leftright-null">
                        <div class="col-md-12 clearfix color-background padding-leftright-null">
                            <div class="partners">
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e1.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e4.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e2.html" alt="">
                                </div>
                                <div class="col-xs-4 col-md-2 partner">
                                    <img class="img-responsive" src="assets/img/e3.html" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-md margin-leftright-null dark-background">
                        <div class="col-md-12 text-center">
                            <h4 class="big margin-bottom-small white">VIEW COMPANY INCOPORATION DETAILS</h4>
                            <a href="https://find-and-update.company-information.service.gov.uk/company/11666300"  class="btn-alt small white margin-null active">CERTIFICATE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END Page Content, class footer-fixed if footer is fixed  -->
            
            <!--  Footer. Class fixed for fixed footer  -->
            <footer class="fixed">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                        </div>
                        <p class="grey-light">HHG Capital is a private trading/mining company incorporated in the united kingdom.The main business involves cryptocurrency mining and intelligent automated trading, bringing stable and efficient revenue to our global customers.</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Company</h6>
                        <ul class="info">
                            <li><a href="index">Home</a></li>
                            <li><a href="about-us">About</a></li>
                            </ul>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Customer</h6>
                        <ul class="info">
                            <li><a href="terms-and-conditions">Terms</a></li>
                            <li><a href="contact-us">Contact Us</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="sign-up">Register</a></li>
                                                    </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="heading white margin-bottom-extrasmall">Contact Us</h6>
                        <ul class="info">
                            
                            <li>Mail: <a href="mailto:support@hhg-capital.com">support@hhg-capital.com</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="copy col-md-12 padding-leftright-null">
                    &copy; 2012 HHG Capital -  All Rights Reserved
                    <a href="#main-wrap" class="anchor" id="backtotop">Back to top</a>
                </div>
            </footer>
            <!--  END Footer. Class fixed for fixed footer  -->
        </div>
        <!--  Main Wrap  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/jquery.fullPage.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
  

<!-- Mirrored from hhg-capital.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:27 GMT -->
</html>