
<!DOCTYPE html>
<html lang="en">
    

<!-- Mirrored from HHG Capital.com/?a=login by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:42 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=1150; user-scalable=1;" />
        <title>Login</title>
<link rel="icon" type="image/png" href="logo.png">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
        <link rel="stylesheet" href="assets/css/jquery.fullPage.css">
        
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css"/>

<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css"/>
<script src='js/jquery-1.11.3.min.js'></script>
<script src='js/wow.js'></script>

<script>
    wow = new WOW();
    wow.init(); 
</script>

<script type="text/javascript" src="js/time.js"></script>
<script>
    wow = new WOW();
    wow.init(); 
</script>

<script type="text/javascript" src="js/time.js"></script>






<!-- Smartsupp Live Chat script -->
  

 
  
  
        
 

    </head>
    <body>
      
        
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <header id="header" class="fixed transparent">
                <nav class="navbar navbar-default white">
                    <!--  Header Logo  -->
                    <div id="logo">
                        <a class="navbar-brand" href="index?a=home">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                            <img src="logo.png" class="normal white-logo" alt="logo">
                            <img src="logo.png" class="retina white-logo" alt="logo">
                        </a>
                    </div>
                    <!--  END Header Logo  -->
                    <!--  Classic menu, responsive menu classic  -->
                    <div id="menu-classic">
                        <div class="menu-holder">
                             <ul>
                                <li class="submenu"><a href="index" class="active-item">Home</a></li>
                                <li class="submenu"><a href="about-us">About</a></li>
                               
                                <li class="submenu"><a href="terms-and-conditions">Terms</a></li>
                                <li class="submenu"><a href="contact-us">Contact Us</a></li>
                                                                <li class="submenu"><a href="login">Login</a></li>
                                <li class="submenu"><a href="sign-up">Register</a></li>
                                                                   <!-- Lang -->
                                
                            </ul>
                        </div>
                    </div>
                    <!--  END Classic menu, responsive menu classic  -->
                    <!--  Button for Responsive Menu Classic  -->
                    <div id="menu-responsive-classic">
                        <div class="menu-button">
                             <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                        </div>
                    </div>
                    <!--  END Button for Responsive Menu Classic  -->
                </nav>
            </header>
            <!--  END Header & Menu  -->

<!--  Page Content, class footer-fixed if footer is fixed  -->
            <div id="page-content" class="header-static footer-fixed">
                <!--  Slider  -->
                <div id="flexslider" class="fullpage-wrap small">
                    <ul class="slides">
                        <li style="background-image:url(assets/img/contact.jpg)">
                            <div class="text text-center">
                                <h1 class="white margin-bottom-small">Login Here</h1>
                                </div>
                            <div class="gradient dark"></div>
                        </li>
                    </ul>
                </div>
                <!--  END Slider  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                   
                    <div class="row margin-leftright-null">
                       <div class="col-md-2 padding-leftright-null"></div>
                        <div class="col-md-8 padding-leftright-null">
                            <div class="text padding-md-top-null">
  

<script language=javascript>
function checkform() {
  if (document.mainform.username.value=='') {
    alert("Please type your Email!");
    document.mainform.username.focus();
    return false;
  }
  if (document.mainform.password.value=='') {
    alert("Please type your password!");
    document.mainform.password.focus();
    return false;
  }
  return true;
}
</script>



<form method=post onsubmit="return checkform()" name=mainform action="/login" >
    <input type="hidden" name="form_id" value="16716785682403"><input type="hidden" name="form_token" value="af3e8b5d94e5975ce4083c94bd0da53a">
<input type=hidden name=a value='do_login'>
<input type=hidden name=follow value=''>
<input type=hidden name=follow_id value=''>
<table cellspacing=0 cellpadding=2 border=0>
            <div class="info_down">
                <div class="login_box">
                    <div class="login_left">
                        <div class="info-one">
                            <div class="info-left" style="width:100px;">
                                <p>Email : </p>
                            </div>
                            <div class="log-right">
     <input type=text name=email value='' class=inpts size=30 autofocus="autofocus">
</div>
                        </div>
                        <div class="info-one">
                            <div class="info-left" style="width:100px;">
                                <p>Password : </p>
                            </div>
                            <div class="log-right">
     <input type=password name=password value='' class=inpts size=30>
</div>
                        </div>
<div class="login-now-">
     <input type=submit value="Login" class=sbmt>
</div>
<div class="crefor">
                            
                            <div class="create">
                                <a href="https://hhg-capital.onrender.com/sign-up">Create New Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="login_right">
                        <img src="images/login.png">
                    </div>
                </div>
            </div>
</table>
</form>
 </div>  </div>  </div>  </div>
                </div>
            </div>
            <!--  END Page Content, class footer-fixed if footer is fixed  -->

 <!--  Footer. Class fixed for fixed footer  -->
            <footer class="fixed">
                    
                </div>
            </div>
            <!--  END Page Content, class footer-fixed if footer is fixed  -->
            
            <!--  Footer. Class fixed for fixed footer  -->
            <footer class="fixed">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                        </div>
                        <p class="grey-light">HHG Capital is a private trading/mining company incorporated in the united kingdom.The main business involves cryptocurrency mining and intelligent automated trading, bringing stable and efficient revenue to our global customers.</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Company</h6>
                        <ul class="info">
                            <li><a href="index">Home</a></li>
                            <li><a href="about-us">About</a></li>
                            </ul>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Customer</h6>
                        <ul class="info">
                            <li><a href="terms-and-conditions">Terms</a></li>
                            <li><a href="contact-us">Contact Us</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="sign-up">Register</a></li>
                                                    </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="heading white margin-bottom-extrasmall">Contact Us</h6>
                        <ul class="info">
                            
                            <li>Mail: <a href="mailto:support@hhg-capital.com">support@hhg-capital.com</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="copy col-md-12 padding-leftright-null">
                    &copy; 2012 HHG Capital -  All Rights Reserved
                    <a href="#main-wrap" class="anchor" id="backtotop">Back to top</a>
                </div>
            </footer>
            <!--  END Footer. Class fixed for fixed footer  -->
        </div>
        <!--  Main Wrap  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/jquery.fullPage.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    <script src="//code.tidio.co/lazirqnl5kq5rh5bdxcyl2j8o6zqmtmq.js" async></script>
</body>
  

<!-- Mirrored from HHG Capital.com/?a=login by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:43 GMT -->
</html>