<!DOCTYPE html>
<html lang="en">
    

<!-- Mirrored from HHG Capital.com/?a=rules by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:44 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=1150; user-scalable=1;" />
        <title>Terms</title>
<link rel="icon" type="image/png" href="logo.png">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        
        <!-- Flexslider -->
        <link rel="stylesheet" href="assets/css/flexslider.css">
        
        <!-- Owl -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        
        <link rel="stylesheet" href="assets/css/jquery.fullPage.css">


<!-- Smartsupp Live Chat script -->
  

 
  
  
        
 

    </head>
    <body>
      
        
        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <header id="header" class="fixed transparent">
                <nav class="navbar navbar-default white">
                    <!--  Header Logo  -->
                    <div id="logo">
                        <a class="navbar-brand" href="index?a=home">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                            <img src="logo.png" class="normal white-logo" alt="logo">
                            <img src="logo.png" class="retina white-logo" alt="logo">
                        </a>
                    </div>
                    <!--  END Header Logo  -->
                    <!--  Classic menu, responsive menu classic  -->
                    <div id="menu-classic">
                        <div class="menu-holder">
                             <ul>
                                <li class="submenu"><a href="index" class="active-item">Home</a></li>
                                <li class="submenu"><a href="about-us">About</a></li>
                               
                                <li class="submenu"><a href="terms-and-conditions">Terms</a></li>
                                <li class="submenu"><a href="contact-us">Contact Us</a></li>
                                                                <li class="submenu"><a href="login">Login</a></li>
                                <li class="submenu"><a href="sign-up">Register</a></li>
                                                                   <!-- Lang -->
                                
                            </ul>
                        </div>
                    </div>
                    <!--  END Classic menu, responsive menu classic  -->
                     <!--  Button for Responsive Menu Classic  -->
                    <div id="menu-responsive-classic">
                        <div class="menu-button">
                            <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                        </div>
                    </div>
                    <!--  END Button for Responsive Menu Classic  -->
                </nav>
            </header>
            <!--  END Header & Menu  -->

<!--  Page Content, class footer-fixed if footer is fixed  -->
            <div id="page-content" class="header-static footer-fixed">
                <!--  Slider  -->
                <div id="flexslider" class="fullpage-wrap small">
                    <ul class="slides">
                        <li style="background-image:url(assets/img/service7.jpg)">
                            <div class="text text-center">
                                <h1 class="white margin-bottom-small">Terms & Conditions</h1>
                            </div>
                            <div class="gradient dark"></div>
                        </li>
                    </ul>
                </div>
                <!--  END Slider  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="row margin-leftright-null text-center">
                        <div class="col-md-12 padding-leftright-null">
                            <div class="text">
                                <h2 class="margin-bottom-null title center grey">Rules & Agreements</h2>
                                <div class="padding-onlytop-md">
                                    <h3 class="grey big margin-bottom-small">Rules</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Services -->
                    <div class="row no-margin">
                        <div class="col-md-12 services-box">
                            <div class="col-md-12">
                                <div class="alt-services text-center">
                                    <div class="service">
                                        
                                        <p align=justify>
                                            
Please read the following rules carefully before signing in.<br><br>



You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.<br><br>

HHG Capital is not available to the general public and is opened only to the qualified members of HHG Capital, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the HHG Capital and its Member.<br><br>
	
As a private transaction, this program is exempt from the UK Securities Act of 1933, the UK Securities Exchange Act of 1934 and the UK Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.<br><br>
  You agree that all information, communications, materials coming from HHG Capital 
  are unsolicited and must be kept private, confidential and protected from any 
  disclosure. Moreover, the information, communications and materials contained 
  herein are not to be regarded as an offer, nor a solicitation for investments 
  in any jurisdiction which deems non-public offers or solicitations unlawful, 
  nor to any person to whom it will be unlawful to make such offer or solicitation.<br>
  <br>

All the data giving by a member to HHG Capital will be only privately used and not disclosed to any third parties. HHG Capital is not responsible or liable for any loss of data.<br><br>
  You agree to hold all principals and members harmless of any liability. You 
  are investing at your own risk and you agree that a past performance is not 
  an explicit guarantee for the same future performance. You agree that all information, 
  communications and materials you will find on this site are intended to be regarded 
  as an informational and educational matter and not an investment advice.<br>
  <br>
  We reserve the right to change the rules, commissions and rates of the program 
  at any time and at our sole discretion without notice, especially in order to 
  respect the integrity and security of the members' interests. You agree that 
  it is your sole responsibility to review the current terms. <br>
  <br>
 
HHG Capital is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to HHG Capital that you will not use this site in any illegal way and you agree to respect your local, national and international laws.<br><br>

Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.<br><br>

We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.<br><br>

HHG Capital reserves the right to accept or decline any member for membership without explanation.<br><br>

If you do not agree with the above disclaimer, please do not go any further.

</p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <!-- END Services -->
                    
                    
                    <!-- Section partners -->
                    <div class="row padding-md margin-leftright-null color-background">
                        <div class="col-md-12 text-center">
                            <h4 class="big margin-bottom-small white">VIEW COMPANY INCOPORATION DETAILS</h4>
                            <a href="https://find-and-update.company-information.service.gov.uk/company/11666300"_blank" class="btn-alt small white margin-null active">CERTIFICATE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END Page Content, class footer-fixed if footer is fixed  -->
            
            <!--  Footer. Class fixed for fixed footer  -->
            <footer class="fixed">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="logo.png" class="normal" alt="logo">
                            <img src="logo.png" class="retina" alt="logo">
                        </div>
                        <p class="grey-light">HHG Capital is a private trading/mining company incorporated in the united kingdom.The main business involves cryptocurrency mining and intelligent automated trading, bringing stable and efficient revenue to our global customers.</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Company</h6>
                        <ul class="info">
                            <li><a href="index">Home</a></li>
                            <li><a href="about-us">About</a></li>
                            </ul>
                    </div>
                    <div class="col-md-2">
                        <h6 class="heading white margin-bottom-extrasmall">Customer</h6>
                        <ul class="info">
                            <li><a href="terms-and-conditions">Terms</a></li>
                            <li><a href="contact-us">Contact Us</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="sign-up">Register</a></li>
                                                    </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="heading white margin-bottom-extrasmall">Contact Us</h6>
                        <ul class="info">
                            
                            <li>Mail: <a href="mailto:support@hhg-capital.com">support@hhg-capital.com</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="copy col-md-12 padding-leftright-null">
                    &copy; 2012 HHG Capital -  All Rights Reserved
                    <a href="#main-wrap" class="anchor" id="backtotop">Back to top</a>
                </div>
            </footer>
            <!--  END Footer. Class fixed for fixed footer  -->
        </div>
        <!--  Main Wrap  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider-min.js"></script>
        <script src="assets/js/jquery.fullPage.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=false"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        <script src="assets/js/smooth.scroll.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.scrolly.js"></script>
        <script src="assets/js/plugins-scroll.js"></script>
        <script src="assets/js/imagesloaded.min.js"></script>
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
  

<!-- Mirrored from HHG Capital.com/?a=rules by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 03:09:44 GMT -->
</html>